# Data and caches 
RAVDESS/ 
OpenFace_AU_CSV/ 
preprocessed_cache_v10/ 
esra_rela_v10_cache/ 
esra_rela_v10_results/ 
esra_rela_pp_v15_1_lora_cache/ 
esra_rela_pp_v15_1_lora_results/ 
esra_rela_pp_v15_1_no_lora_cache/ 
esra_rela_pp_v15_1_no_lora_results/ 
esra_rela_pp_v15_1_simpleavg_no_lora_cache/ 
esra_rela_pp_v15_1_simpleavg_no_lora_results/ 
 
# Temporary/debug files 
*.txt 
*.lock
